<div hight="100px" class="bg-success highttopbottom"><div class="container"><span class=" text-light fontsize"> FEATURES & BENEFITS</span></div>
</div>

<div class="container">
<div class="highttopbottom">

<div class="text-center">
    <span class=" text-primary fontsize "> CROSS PLATFORM</span>
    <!--icon location-->
    <div class="iconimg" ><img src="assets\iconfinder_computer_406819.png" width="75px"></div>
        <!--icon location-->
      </div>

        <!-- start row1-->
<div class="row highttopbottom">
        <!--col1-->
<div class="col-4">
<div class="fontsize bottom ">Progressive Web Apps</div>
<p>Use modern web platform capabilities to<br> deliver app-like experiences. High<bR> performance, offline, and zero-step <br>installation.</p>
</div>
        <!--col2-->

<div class="col-4">
    <div class=" fontsize bottom">Native</div>
    <p>Build native mobile apps with strategies from Cordova, Ionic, or NativeScript.</p>
    
  </div>
        <!--col3-->
        
        
  <div class="col-4 ">
      <div class="fontsize bottom" >Desktop</div>
      <p>Create desktop-installed apps across Mac,<br>Windows, and Linux using the same <br>Angular methods you've learned for the web plus the ability to access native OS APIs.</p>
      
    </div>
    </div><hr class="hr">
        <!-- end row1-->
        <div class="text-center">
            <span class=" text-primary fontsize "> SPEED AND PERFORMANCE</span>
            <!--icon location-->
    <div class="iconimg" ><img src="assets\iconfinder_computer_406819.png" width="75px"></div>
            
                <!--icon location-->
              </div>
        <!-- start row2-->
        <div class="row highttopbottom">
            <!--col1-->
    <div class="col-4">
       
    <div class="fontsize bottom "> Code Generation</div>
    <p>Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.</p>
    </div>
            <!--col2-->
           
       
    <div class="col-4">
        <div class=" fontsize bottom"> Universal</div>
        <p>     Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO.</p>
        
      </div>
            <!--col3-->
            
           

      <div class="col-4 ">
          <div class="fontsize bottom" > Code Splitting</div>
          <p>Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.</p>
          
        </div>
        </div><hr class="hr">
        <!-- end row2-->
        <div class="text-center">
            <span class=" text-primary fontsize "> FULL DEVELOPMENT STORY</span>
            <!--icon location-->
    <div class="iconimg" ><img src="assets\iconfinder_computer_406819.png" width="75px"></div>
           
                <!--icon location-->
              </div>
         <!-- start row3-->
         <div class="row highttopbottom">
            <!--col1-->
    <div class="col-4">
        
       
    <div class="fontsize bottom ">Templates</div>
    <p> Quickly create UI views with simple and powerful template syntax.</p>
    </div>
            <!--col2-->
    <div class="col-4">
        <div class=" fontsize bottom">
            Angular CLI

        </div>
        <p> Command line tools: start building fast, add components and tests, then instantly deploy.
          </p>
        
      </div>
            <!--col3-->
            
      <div class="col-4 ">
          <div class="fontsize bottom" >
              IDEs
          </div>
          <p>Get intelligent code completion, instant errors, and other feedback in popular editors and IDEs
            </p>
          
        </div>
        </div><hr class="hr">
        <!-- end row3-->
        <div class="text-center">
            <span class=" text-primary fontsize "> CROSS PLATFORM</span>
            <!--icon location-->
    <div class="iconimg" ><img src="assets\iconfinder_computer_406819.png" width="75px"></div>
       
                <!--icon location-->
              </div>
         <!-- start row4-->


         <div class="row highttopbottom">
            <!--col1-->
    <div class="col-4">
    <div class="fontsize bottom ">
        Testing      
    </div>
    <p>With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and in a stable manner.
      </p>
    </div>
            <!--col2-->
    
    <div class="col-4">
        <div class=" fontsize bottom">Animation
          </div>
        <p>Create high-performance, complex choreographies and animation timelines with very little code through Angular's intuitive API.
          </p>
        
      </div>
            <!--col3-->
            
            
      <div class="col-4 ">
          <div class="fontsize bottom" >
           Accessibility
          </div>
          <p>Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.
            </p>
          
        </div>
        </div>
        <!-- end row4-->
        <!--button-->
        <div class="btncenter" >
            <button class="btn btn-success " type="button"  >GET STARTED</button>
            </div>  
                    <!--button-->
      </div>

</div>



