.fontsize{font: 1.25em sans-serif;
color: rgb(63, 194, 63);
}
.highttopbottom{
    padding:2em;
}
.hr{margin-bottom: 2em;margin-top: 0em;
    padding-bottom: 0em;
}
.bottom{
    padding-bottom: 1em;
}
.btncenter{
    
    text-align: center;
}
.btncenter:hover{
     background: rgb(87, 116, 87);
  /* scale:(1.25em);
    box-shadow:*/
    
}
.iconimg{
    margin: 20px;
}
