.fontsize{font: 1.25em sans-serif;}

.highttopbottom{
    padding:2em;
    text-decoration-line: none;
}
.col-2>a {
text-decoration:none;
color: aliceblue;

}
.footerlink{

    text-decoration:none;
    color: aliceblue;
       
}